.red-text {
    color:  red;
}

.orange-text {
    color:  orange;
}

.yellow-text {
    color:  yellow;
}

.green-text {
    color:  green;
}

.blue-text {
    color:  blue;
}

.indigo-text {
    color:  indigo;
}

.violet-text {
    color:  violet;
}