html {
  font: 0.75em/1.5em Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5xVqpeq_Z7PaI9WAOVm5e5cpM18XEh_NnPSu0UXqeqdcHQx5Cww")
}
.bx {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px ;
 background: white;
  border: 1px solid #000;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}